* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #24242D;
    overflow-x: hidden;
    cursor: none;
}

a {
    cursor: none;
}

section {
    height: 100vh;
}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    pointer-events: none;
    z-index: 10;
}

::-webkit-scrollbar {
    display: none;
}

/*********************************************************************/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu {
    position: fixed;
    bottom: -150px;
    width: 70px;
    height: 350px;
    z-index: 1;
}

.nav__menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    gap: 40px;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 60px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.nav__item::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 60px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.nav__item:hover::after {
    opacity: 1;
}

.active-link {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    transition: 0.5s;
    transform: translateY(-20px);
    z-index: -1;
}

/*********************************************************************/

.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-1-img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    margin-top: 300px;
}

.home {
    position: relative;
    top: 300px;
    width: 70%;
    max-width: 500px;
    height: auto;
    padding: 2rem;
    border-radius: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.profil-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.profil-picture {
    border-radius: 1.25rem;
}

.home-text-1,
.me {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
}

.me {
    margin-top: 30px;
    text-align: center;
}

/*********************************************************************/

.block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2-img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    margin-top: 350px;
}

.skills {
    position: relative;
    top: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: auto;
    padding: 2rem;
    border-radius: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.title {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

.skills__content {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 100px);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    justify-items: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.skills__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
}

.img__skills {
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
}

.skills__name {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
}

.skills__bar {
    position: relative;
    width: 100%;
    height: 10px;
    margin: 10px;
    border-radius: 1.25rem;
    overflow: hidden;
    background: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1.25rem;
    background: #24242D;
}

#html,
#css {
    width: 90%;
}

#mongodb {
    width: 85%;
}

#angular {
    width: 80%;
}

#javascript {
    width: 75%;
}

#git {
    width: 60%;
}

#html::before {
    background: linear-gradient(90deg, #FFB74D, #FF9800, #F57C00, #E65100, #FFB74D, #FF9800, #F57C00, #E65100, #FFB74D);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#html::after {
    background: linear-gradient(90deg, #FFB74D, #FF9800, #F57C00, #E65100, #FFB74D, #FF9800, #F57C00, #E65100, #FFB74D);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

#css::before {
    background: linear-gradient(90deg, #42A5F5, #2196F3, #1976D2, #1565C0, #42A5F5, #2196F3, #1976D2, #1565C0, #42A5F5);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#css::after {
    background: linear-gradient(90deg, #42A5F5, #2196F3, #1976D2, #1565C0, #42A5F5, #2196F3, #1976D2, #1565C0, #42A5F5);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

#angular::before {
    background: linear-gradient(90deg, #E57373, #F44336, #D32F2F, #B71C1C, #E57373, #F44336, #D32F2F, #B71C1C, #E57373);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#angular::after {
    background: linear-gradient(90deg, #E57373, #F44336, #D32F2F, #B71C1C, #E57373, #F44336, #D32F2F, #B71C1C, #E57373);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

#javascript::before {
    background: linear-gradient(90deg, #FFF176, #FFEB3B, #FFEA00, #FFD600, #FFF176, #FFEB3B, #FFEA00, #FFD600, #FFF176);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#javascript::after {
    background: linear-gradient(90deg, #FFF176, #FFEB3B, #FFEA00, #FFD600, #FFF176, #FFEB3B, #FFEA00, #FFD600, #FFF176);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

#mongodb::before {
    background: linear-gradient(90deg, #66BB6A, #4CAF50, #388E3C, #2E7D32, #66BB6A, #4CAF50, #388E3C, #2E7D32, #66BB6A);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#mongodb::after {
    background: linear-gradient(90deg, #66BB6A, #4CAF50, #388E3C, #2E7D32, #66BB6A, #4CAF50, #388E3C, #2E7D32, #66BB6A);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

#git::before {
    background: linear-gradient(90deg, #E57373, #F44336, #D32F2F, #B71C1C, #E57373, #F44336, #D32F2F, #B71C1C, #E57373);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
}

#git::after {
    background: linear-gradient(90deg, #E57373, #F44336, #D32F2F, #B71C1C, #E57373, #F44336, #D32F2F, #B71C1C, #E57373);
    content: '';
    position: absolute;
    inset: 0;
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    0% {
        background-position: 500% 0;
    }
}

@media screen and (max-width: 768px) {

    .block-2-img {
        margin-top: 200px;
    }

    .skills {
        top: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .skills__content {
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: repeat(3, 130px);
    }
}

/*********************************************************************/

.block-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-3-img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    margin-top: 200px;
}

.projects {
    position: relative;
    top: 200px;
    width: 620px;
    height: 800px;
    padding: 1rem;
    border-radius: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.title2 {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

.projects__container {
    overflow: initial;
    top: 100px;
}

.projects__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects__img {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.projects__title {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
}

.projects__subtitle {
    width: 50%;
    margin: 0.5rem 0 1.25rem;
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
}

.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
    content: '';
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
    width: initial;
    height: initial;
    margin: initial;
}

.projects__container .swiper-button-prev {
    top: 175px;
    left: -0.25rem;
    cursor: none;
}

.projects__container .swiper-button-next {
    top: 175px;
    right: -0.25rem;
    cursor: none;
}

.projects__container .swiper-slide {
    margin-bottom: 2.5rem;
}

.projects__container .swiper-pagination-bullet {
    background-color: #fff;
    opacity: initial;
}

.projects__container .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 1rem;
    background-color: #24242D;
    transition: 0.5s;
}

.swipe {
    display: none;
}

@media screen and (max-width: 768px) {

    .projects {
        width: 80%;
    }

    .projects__container .swiper-button-prev, .projects__container .swiper-button-next {
        display: none;
    }

    .swipe {
        position: relative;
        bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

/*********************************************************************/

.block-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-4-img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    margin-top: 300px;
}

.contact {
    position: relative;
    top: 300px;
    width: 620px;
    height: 670px;
    padding: 3rem;
    border-radius: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.contact__form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.contact__form__input {
    position: relative;
    width: 100%;
}

.contact__form__input input {
    position: relative;
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #24242D;
    font-size: 1.25rem;
    z-index: 2;
    cursor: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.contact__form__input textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #24242D;
    font-size: 1.25rem;
    z-index: 2;
    cursor: none;
    resize: none;
}

.contact__form__input span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.contact__form__input input:valid~span,
.contact__form__input input:focus~span {
    transform: translateY(32px) translateX(-240px);
}

.contact__form__input textarea:valid~span,
.contact__form__input textarea:focus~span {
    transform: translateY(32px) translateX(-230px);
}

.contact__form__input i,
.textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #24242D;
    transition: 0.5s;
    z-index: 1;
    border-radius: 4px;
    pointer-events: none;
}

.contact__form__input i {
    width: 100%;
}

.contact__form__input .textarea {
    width: 100%;
}

.contact__form__input input:valid~i,
.contact__form__input input:focus~i {
    height: 100%;
    background: none;
}

.contact__form__input textarea:valid~i,
.contact__form__input textarea:focus~i {
    height: 100%;
    background: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2rem;
    padding-top: 4px;
    border: none;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    cursor: none;
    transition: 0.5s;
}

.button:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;
    transition: 0.5s;
}

.button:hover::before {
    opacity: 1;
}

.button::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.button:hover::after {
    opacity: 0.5;
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.button:hover .icon {
    transform: scale(0);
    transition-delay: 0s;
}

.button span {
    position: absolute;
}

.button .send {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #24242D;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.button:hover .send {
    transform: scale(1);
    transition-delay: 0.25s;
}

.send {
    color: #24242D;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .contact {
        width: 400px;
    }

    .contact__form__input input:valid~span,
    .contact__form__input input:focus~span {
        transform: translateY(32px) translateX(-130px);
    }

    .contact__form__input textarea:valid~span,
    .contact__form__input textarea:focus~span {
        transform: translateY(32px) translateX(-120px);
    }
}

.button2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: none;
    transition: 0.5s;
}

.button2:hover {
    height: 220px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.button2::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;
    transition: 0.5s;
}

.button2:hover::before {
    opacity: 1;
}

.button2::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 3.75rem;
    background-color: rgba(255, 255, 255, .3);
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.button2:hover::after {
    opacity: 0.5;
}

.button2:hover .icon {
    transform: scale(0);
    transition-delay: 0s;
}

.button2 span {
    position: absolute;
}

.button2 .send {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #24242D;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.button2:hover .send {
    transform: scale(1);
    transition-delay: 0.25s;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}